<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FourSquare App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5362CB3120756CD6003E0390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5362CB4820756CD7003E0390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5362CB5320756CD7003E0390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
